<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <k2field.Authorization>
    <rules>
      <deny category="HR\Restricted" notRole="DENALLIX\HR"/> 
      <allow category="HR\Management" role="HR"/>
      <allow form="Finance\Employee\SelfHelp" role="Employees"/>
      <!-- allow | deny form|view|category="{view/form name}|{category path}" role="{K2-RoleName}" -->
    </rules>
  </k2field.Authorization>
</configuration>